[submodule "libserver"]
	path = libserver
	url = git@github.com:PersonalTeams/plugins-utils-samp.git
	branch = main
[submodule "data"]
	path = data
	url = git@github.com:PersonalTeams/API-Project-SAMP.git
	branch = main
